body {
  background: linear-gradient(115deg, purple, violet, pink, salmon);
}

h1 {
  color: black;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20px;
  font-weight: normal;
}

p {
  font-family: sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 20px;
}

#description {
  text-align: center;
}

.labels {
  font-family: sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0.5%;
}

.choices {
  color: black;
  font-family: sans-serif;
  margin-left: 5px;
}

.likelihood {
  margin-right: 10px;
}

.toppings {
  margin-right: 10px;
}

#form {
  background-color: #F4F4F6;
  box-shadow: 20px 10px 25px #6D657B;
  padding: 2.5%;
  margin: 0% 19% 4% 19%;
  border-radius: 20px;
}

label {
  display: flex;
}

input {
  display: inline-block;

}

.input-text {
  width: 100%;
  height: 2.1rem;
  border-radius: 16px;
  border-color: white;
}
